<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2017 Ben Gower. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
        <section id="catalog">

            <group id="OosBottom" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Out of Stock Products At Bottom</label>
                    <field id="sort_out_of_stock_at_bottom" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable for category page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
            </group>

</section>
</system>
</config>